.section_cards {
    background-color: #88B5BF;
    padding: 2vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 100px;
}

.card {
    background-color: #0D89B0;
    width: 25%;
    height: 16.5vw;
}

.card:not(:last-child) {
    margin-right: 2vw;
}